/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-container {
    border: 1px solid #ccc;
    overflow: hidden;
}

iframe {
    border: none;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
